*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.text{
    color: #fd6e0a;
}
.button{
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #fd6e0a;
}
.header{
    background: #fff8f3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
.title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img{
    width: 500px;
}
.ebrahim{
    font-weight: 700;
    font-size: 85px;
}
.ebra{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.bio{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    text-align: center;
    margin-top: 130px;
    background: #fff8f3;
    border-radius: 10px;
    padding: 130px 150px;
}
.me{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}
.about-me{
    color: #757575;
    font-size: 18px;
    margin-bottom: 100px;
}

.info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-size: 20px;
    color: #757575;
}
.info-bio{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}
.what-i-do{
    margin-top: 130px;
    /* text-align: center; */
}
.my-skills{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 60px;
    text-align: center;
}
.skill{
    background: #ffffff;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-bio{
    color: #757575;
}
img.icons{
    width: 30px;
    padding-left: 0;
}